@model eKitap.Models.Book
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Düzenle";
    ViewData["Page"] = "books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Kitaplar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Kitap İsmi</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sınıf</label>
                <select asp-for="ClassRoomId" class="form-control" asp-items="ViewBag.ClassRoomId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">PDF Yükle</label>
                <input name="pdfName" type="file" class="form-control" />
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i></a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
